# Environment files
.env

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/
.env.bak/

# IDE/editor folders
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# PostgreSQL dumps
*.sql
